# -----TEMPLATE----
Host host1 !host2
ProxyJump host1
LocalCommand echo -e "\n\n\x1b[30;31m------WARNING: You are on a PRODUCTIVE system! \x1b0------\n\n"
PermitLocalCommand yes
User root
LocalForward 3306 127.0.0.1:33061
StrictHostKeyChecking no
IdentityFile ~/.ssh/mykey
HostKeyAlgorithms +ssh-rsa,ssh-dss
PubkeyAcceptedKeyTypes +ssh-rsa,ssh-dss
KexAlgorithms +curve25519-sha256@libssh.org,ecdh-sha2-nistp256,ecdh-sha2-nistp384,ecdh-sha2-nistp521,diffie-hellman-group-exchange-sha256,diffie-hellman-group14-sha1,diffie-hellman-group1-sha1
Ciphers +aes256-cbc,aes128-cbc,3des-cbc
HostbasedKeyTypes +ssh-rsa,ssh-dss
IdentitiesOnly yes
PubkeyAuthentication no
PasswordAuthentication yes